.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

header {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
}

.home-header {
    /* background-image: url('https://image.freepik.com/free-photo/close-up-students-writing-reading-exam-answer-sheets-exercises-classroom-school-with-stress_73622-858.jpg'); */
    background-image:  url('https://image.freepik.com/photos-gratuite/surface-noire-abstraite-rustique_23-2148287666.jpg');
    background-attachment: fixed;
    background-position: bottom;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
}

.home .title {
    display: flex;
    align-items: center;
    text-align: left;
    text-shadow: 0 0 1px black;
}

.home .title, .home p, .home h3 {
    text-align: left;
}

.home .title h1 {
    width: auto;
    margin: 0 0 0 15px;
    font-size: 54px;
    color: white;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 300;
}

.home .fas {
    font-size: 100px;
    font-size: 50px;
    color: orange;
}

.home h3 {
    font-weight: bold;
    margin-bottom: 0;
}

.home-content p {
    margin: 0 0 20px;
    color: white;
}

.home ul {
    padding: 0;
    margin: 0 0 60px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home ul li {
    width: 120px;
    height: 120px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    border: 5px solid orange;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 1;
}

.home ul li:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 2;
}

.home ul a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
