.index-main {
    width: 1280px;
    margin: 0 auto;
}

.index-title {
    height: 50px;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.index-title:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.index-title h4, .index-title h3 {
    margin: 0;
}

.index-container {
    width: 500px;
    padding: 20px;
    margin: 20px auto 0;
    background-color: white;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
}

.index-container ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.index-link a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    text-align: left;
    margin: 0;
    text-decoration: none;
    color: black;
    background-color: white;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.index-link a:hover {
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.index-link-false a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    text-align: left;
    margin: 0;
    text-decoration: none;
    color: black;
    opacity: .2;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.index-link p, .index-link h5 {
    margin: 0;
}

.index-link div p {
    font-style: italic;
    font-size: 12px;
}

.index-nav {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.index-nav button {
    cursor: pointer;
    margin-left: 5px;
    border: none;
    background: rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3);
    font-size: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: blue;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    outline: 0;
}

.index-nav button:disabled {
    opacity: .5;
    color: grey;
}

.index-info {
    display: flex;
    align-items: center;
}

.index-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    background-color: lightblue;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
}

.index-img img {
    width: 100%;
}

.index-info-title {
    width: 340px;
}