.index-main {
    padding: 100px 0;
    background-image: url('https://image.freepik.com/photos-gratuite/surface-noire-abstraite-rustique_23-2148287666.jpg');
    background-size: cover;
    min-height: calc(100vh - 200px);
}

.index-title h4, .index-title h3 {
    margin: 0;
    color: orange;
}

.index-container {
    width: 500px;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
}

.index-container ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.index-link a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    text-align: left;
    margin: 0;
    text-decoration: none;
    color: black;
    background-color: white;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.index-link a:hover {
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.index-link-false a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    text-align: left;
    margin: 0;
    text-decoration: none;
    color: black;
    opacity: .2;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.index-link p, .index-link h5 {
    margin: 0;
}

.index-link div p {
    font-style: italic;
    font-size: 12px;
}

.index-nav {
    position: fixed;
    z-index: 5;
    bottom: 50px;
    right: 30px;
}

.index-nav button {
    cursor: pointer;
    margin-left: 5px;
    border: none;
    background: rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3);
    font-size: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: orange;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    outline: 0;
}

.index-nav button:disabled {
    color: rgb(170, 138, 77);
    background-color: lightgrey;
    cursor: unset;
}

.index-info {
    display: flex;
    align-items: center;
}

.index-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    background-color: lightcoral;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
}

.index-img img {
    height: 100%;
}

.index-info-title {
    width: 340px;
}