.lesson-main {
    padding: 100px 0;
    background-image: url('https://image.freepik.com/photos-gratuite/surface-noire-abstraite-rustique_23-2148287666.jpg');
    background-size: cover;
    min-height: calc(100vh - 200px);
}

.lesson-title {
    color: orange;
}

.lesson-title h4, .lesson-title h3 {
    margin: 0;
}

.lesson-content {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    align-self: flex-start;
}

.lesson-content video {
    width: 100%;
}

.lesson-nav {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.lesson-nav button {
    cursor: pointer;
    margin-left: 5px;
    border: none;
    background: rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3);
    font-size: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: orange;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    outline: 0;
}

.lesson-nav button:disabled {
    color: rgb(170, 138, 77);
    background-color: lightgrey;
    cursor: unset;
}
